# Git
.git
.gitignore

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pytest_cache/
.coverage
*.egg-info/

# Virtualenv
.venv/
venv/
env/

# IDE
.vscode/
.idea/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Docker
Dockerfile*
docker-compose*.yml
.dockerignore

# Arquivos locais
.env
.env.*

# Dependencies / Build
requirements.in