# Application
APPLICATION_NAME=Car Insurance API
APPLICATION_DESCRIPTION=Car Insurance Premium Simulator API

# Premium calculator
RATE_PER_YEAR=0.005
RATE_PER_VALUE_STEP=0.005
VALUE_STEP=10000
COVERAGE_PERCENTAGE=1.0